@import "tailwindcss";

@theme {
  --color-background: #000000;
  --color-foreground: #ffffff;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
  }
}